.login-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.handle{
    display : flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #063366f5;
}
